/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #f7fcff;
  --color-dark-grey: #242323;
  --color-black: #000000;

  /* Font size */
  --font-large: 4.375rem;
  --font-medium-large: 1.75rem;
  --font-medium: 1.5rem;
  --font-small: 0.875rem;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 500;
  --weight-regular: 300;
}

/* Universal tags */
* {
  box-sizing: border-box;
}
/*  */
